<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST Example</title>
</head>


<body>
    
    
    <h3>Student Data</h3>
     
    
    <hr>
    
     
    <form action='/set' method = 'POST'>
        
        Name <input type="text" name="string1"/>
        <br>
        <br>
        ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="string2"/>
        <br>
        <br>
        
        <button>submit</button>
    </form>
</body>
</html>
